{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>FeedFishSKR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>


<body>

<div class="jumbotron text-center">
  <h1>Control FishFeed</h1>  
</div>
  
<div class="container">
  <div class="row">
    <div id="Control" class="col-sm-12">
    <h1 style="text-align:center";> Calculate </h1>
    <br>
    <br>
    <div class="col-sm-6">
        <h1 style="text-align: center;">ปลาทอง</h1>
        <br>
        <input type="range" min="0" max="10" value="0"  oninput="showValue(this.value)" />
        <br>
        <input type="value" value="0"  oninput="showValue(this.value)"  style="text-align: center;" />  
        <!-- <span id="range">0</span> -->
        <h2 id="range" >0 ตัว 
        <h2>Food <span id="volFood1">0 <span>g</span>
        
    </div>
    <div class="col-sm-6">
        <h1 style="text-align: center;">ปลาคราฟ</h1>
        <br>
        <input type="range" min="0" max="10" value="0"  oninput="showValue2(this.value)" />
        <br>
        <input type="value" value="0"  oninput="showValue2(this.value)"  style="text-align: center;" />   
        <!-- <span id="range">0</span> -->
        <h2 id="range2" >0 ตัว 
        <h2>Food <span id="volFood2">0 <span>g</span>
        
    </div>
      

    
    <h1><font color="white">---</font></h1>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  
function showValue(newValue)
{
  document.getElementById("range").innerHTML=newValue+" ตัว";
  document.getElementById("volFood1").innerHTML=(4*newValue)/100+" g";
  var g = (4*newValue)/100;
  //document.getElementById("sec1").innerHTML=(((4*newValue)/100)-0.199)/2.411+"Sec";
}
function showValue2(newValue)
{
  document.getElementById("range2").innerHTML=newValue+" ตัว";
  document.getElementById("volFood2").innerHTML=(8*newValue)/100 +" g";
  var g = (4*newValue)/100;
  //document.getElementById("sec1").innerHTML=(((4*newValue)/100)-0.199)/2.411+"Sec";
}

</script>

</body>
</html>
