{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>FeedFishSKR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>


<body>

<div class="jumbotron text-center">
  <h1>Control FishFeed</h1>  
</div>
  
<div class="container">
  <div class="row">
    <div id="Control" class="col-sm-12">
    <h1 style="text-align:center";> Control </h1>
    <br>
    <br>
    
      <h1>ปลาทอง</h1>
      <input type="range" min="0" max="10" value="0"  oninput="showValue(this.value)" />
        <!-- <span id="range">0</span> -->
        <h2 id="range" >0 ตัว <h3> อาหาร
        <h3 id="volFood1">0 <h4>g
        <p id="s1"></p>

    
    <h1><font color="white">---</font></h1>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  var socket = io();
  

function showValue(newValue)
{
  document.getElementById("range").innerHTML=newValue+"ตัว";
  document.getElementById("volFood1").innerHTML=(4*newValue)/100;
  var g = (4*newValue)/100;
  document.getElementById("s1").innerHTML=(g-0.199)/2.411+"Sec";
  socket.emit('c2s_d',  newValue);
  //socket.emit('s2c', { for: 'everyone' });
}

</script>

</body>
</html>
